{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Sua senha foi alterada com sucesso!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Sua senha foi alterada!" %}

{% trans "Obrigado por utilizar nossa plataforma!" %}

{% blocktrans %}Do time {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Sua senha foi alterada!" %}</p>

<p>{% trans "Obrigado por utilizar nossa plataforma!" %}</p>

<p>{% blocktrans %}Do time {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
