{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Seu nome de usuário foi alterado com sucesso!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Seu nome de usuário foi alterado!" %}

{% trans "Obrigado por utilizar nossa plataforma!" %}

{% blocktrans %}Do time {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Seu nome de usuário foi alterado!" %}</p>

<p>{% trans "Obrigado por utilizar nossa plataforma!" %}</p>

<p>{% blocktrans %}Do time {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
